---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { getSlugFromId, withBase } from "../utils/helpers";
import { localizePath } from "../i18n/utils";
import { defaultLang, type Lang } from "../i18n/config";

type Props = { post: CollectionEntry<"blogs">; lang?: Lang };
const { post, lang = defaultLang } = Astro.props as Props;
const { title, pubDate, description, image } = post.data;
const slug = post.slug ?? getSlugFromId(post.id);
---

<a class="font-bold" href={withBase(localizePath(`/blog/${slug}`, lang))}>
  <div class="flex flex-col sm:flex-row gap-2 sm:gap-4">
    {
      image && image.url && (
        <>
          <Image
            class=""
            src={image.url}
            alt={image.alt || ""}
            width={300}
            height={167}
          />
        </>
      )
    }
    <div class="flex flex-col max-w-fit">
      <h2 class="mb-1">{title}</h2>
      <FormattedDate date={new Date(pubDate)} />
      {
        description && (
          <p class="font-light text-base text-balance">{description}</p>
        )
      }
    </div>
  </div>
</a>
