---
interface Props {
  title: string;
  class?: string;
  as?: 'h1' | 'h2' | 'h3';
}

const { title, class: className = '', as = 'h2' } = Astro.props as Props;
const Tag = as;
---

<div class={`mb-8 ${className}`}>
  <Tag
    class="inline-block w-full font-serif text-3xl font-normal text-brand-dark text-balance lg:text-4xl"
  >
    {title}
  </Tag>
</div>
